<h2>Edit item</h2>

<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" class="form-control" type="text" name="title" ng-model="todo.title"/>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" class="form-control" name="description" ng-model="todo.description"></textarea>
    </div>

    <button ng-click="saveTodo()" class="btn btn-success">Save</button>
    <a href="#!/list" class="btn btn-default">Cancel</a>
</form>